SB_API_KEY=change-me
ALLOWED_ORIGINS=https://www.stackingbenjamins.com,https://stackingbenjamins.com
MODEL_NAME=ahmedrachid/FinancialBERT
FAISS_INDEX=data/faiss_ip.index
FAISS_META=data/metadata.json
